<li class="hd-event" data-channel="[[W33D:CHANNEL_TOKEN]]" data-severity="[[W33D:SEVERITY_TOKEN]]">
  <div class="hd-event__head">
    <time class="hd-event__time" datetime="[[W33D:RECORDED_DATETIME_ATTRIBUTE]]">[[W33D:RECORDED_TEXT]]</time>
    <span class="hd-event__severity">[[W33D:SEVERITY_TEXT]]</span>
  </div>
  <p class="hd-event__title">[[W33D:TITLE_TEXT]]</p>
  <p class="hd-event__detail">[[W33D:DETAIL_PREVIEW_TEXT]]</p>
  <p class="hd-event__machine">[[W33D:MACHINE_VALUE_TEXT]]</p>
  <p class="hd-event__provenance">[[W33D:PROVENANCE_TEXT]]</p>
  <div class="hd-event__disclosure">[[W33D:DISCLOSURE_FRAGMENT]]</div>
  <ol class="hd-event__variants">[[W33D:CONFLICT_FRAGMENT]]</ol>
</li>
