<li class="hd-case" data-current="[[W33D:CURRENT_TOKEN]]" data-incident-lifecycle="[[W33D:LIFECYCLE_TOKEN]]" data-actor-truth="[[W33D:ACTOR_TRUTH_TOKEN]]">
  <a class="hd-case__link" href="[[W33D:INCIDENT_PATH]]">
    <span class="hd-case__title">[[W33D:TITLE_TEXT]]</span>
    <span class="hd-case__meta">
      <time class="hd-case__time" datetime="[[W33D:OPENED_DATETIME_ATTRIBUTE]]">[[W33D:OPENED_TEXT]]</time>
      <span class="hd-case__actor">[[W33D:ACTOR_SUBJECT_TEXT]]</span>
      <span class="hd-case__identity">[[W33D:DISPLAY_IDENTITY_TEXT]]</span>
    </span>
    <span class="hd-case__flags">
      <span class="hd-case__lifecycle">[[W33D:LIFECYCLE_TEXT]]</span>
      <span class="hd-case__current">[[W33D:CURRENT_TEXT]]</span>
    </span>
  </a>
</li>
