<li class="hd-mark" id="[[W33D:MARK_ID_ATTRIBUTE]]" data-mark-kind="[[W33D:MARK_TYPE_TOKEN]]" data-actor-truth="[[W33D:ACTOR_TRUTH_TOKEN]]">
  <div class="hd-mark__head">
    <h3 class="hd-mark__type">[[W33D:MARK_TYPE_TEXT]]</h3>
    <time class="hd-mark__time" datetime="[[W33D:RECORDED_DATETIME_ATTRIBUTE]]">[[W33D:RECORDED_TEXT]]</time>
  </div>
  <dl class="hd-mark__actor">
    <div class="hd-mark__who">
      <dt class="hd-mark__term">Stable subject</dt>
      <dd class="hd-mark__subject">[[W33D:ACTOR_SUBJECT_TEXT]]</dd>
    </div>
    <div class="hd-mark__who">
      <dt class="hd-mark__term">Display identity</dt>
      <dd class="hd-mark__identity">[[W33D:DISPLAY_IDENTITY_TEXT]]</dd>
    </div>
  </dl>
  <p class="hd-mark__body">[[W33D:BODY_TEXT]]</p>
  <p class="hd-mark__lifecycle">[[W33D:LIFECYCLE_TEXT]]</p>
  <p class="hd-mark__ref">[[W33D:PUBLIC_MARK_REF_TEXT]]</p>
  <p class="hd-mark__audit">[[W33D:AUDIT_TRUTH_TEXT]]</p>
  <p class="hd-mark__durability">Recorded in Hindsight</p>
</li>
